@use '../variables.scss' as *;
@use '../mixins' as *;

.logo_wrapper {
    display:  flex;
    width: 220px;
    justify-content: center;
    padding: 10px 10px 0 10px;
    align-items: center;
    align-self: center;
}

.logo_image {
    width: 38px;
    height: 34px;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.logo_text {
    font-family: 'Borel';
    font-size: $font-size-24;
    color: $primary;
}