@use '../variables.scss' as *;
@use '../mixins' as *;

.template {
  @include breakpoint(sm) {
    height: 110vh;
  }

  background-color: $light;
  @include flex-col;
  padding: 0 30px 0 30px;
  height: 100vh;

  hr {
    margin: 30px 0 10px 0;
  }

  a {
    align-self: center;
    margin-top: 20px;
    @include font-inter;
    font-weight: 400;
    color: #474747;
  }

  p {
    align-self: center;
    margin-top: 10px;
    @include font-inter;
    font-weight: 400;
    color: #474747;

    a {
      color: $primary;
    }
  }
}

.btn_form_container {
  @include flex-col-just-center;
  padding: 0 20px 0 20px;
  margin-top: 10px;

  input {
    @include input-template;
  }

  .submitBtn {
    @include btn-primary;
  }

  .soc_med_btn {
    @include btn-secondary;
    border: solid 1px;
    border-color: #C4C4C4;
    cursor: pointer;
    @include flex-row-just-center;

    img {
      margin-right: 10px;
    }
  }
}