@use '../variables.scss' as *;
@use '../mixins' as *;

.fixContainer {
    background-color: blue;
    height: 10vh;

    .upperSection {
        background-color: yellow;
        height: 50%;
    }

    .lowerSection {
        background-color: grey;
        flex-direction: row;
        display: flex;
        height: 50%;

        .rinPerBtn {
            @include font-inter;
            flex: 1;
            width: 50%;
            justify-content: center;
            align-items: center;
            background-color: pink;
            text-align: center;
            padding: 10px;
            border: none;
        }
        .rinPerBtn:hover {
            background-color: rgb(211, 142, 154);
            transition: 0.7s;
        }
        .rinPerBtn:focus {
           outline-color: transparent;
           outline-style: solid;
           box-shadow: 0 0 0 .5px orchid;
           transform: 0.7s;
        }
        .rinPerBtn:active {
            background-color: $dark;
            color: cyan;
         }

        .designBtn {
            @include font-inter;
            flex: 1;
            width: 50%;
            justify-content: center;
            align-items: center;
            background-color: cyan;
            text-align: center;
            padding: 10px;
            border: none;
        }
        .designBtn:hover {
            background-color: rgb(124, 196, 196);
            transition: 0.7s;
        }
        .designBtn:focus {
           outline-color: transparent;
           outline-style: solid;
           box-shadow: 0 0 0 .5px orchid;
           transform: 0.7s;
        }
        .designBtn:active {
            background-color: $dark;
            color: cyan;
         }
    }
}