@use '../variables.scss' as *;
@use '../mixins' as *;

.fixContainer {
    background-color: #FFF;
    height: 7vh;
    position: fixed;
    top: 60px;
    z-index: 10;
    /* Position the navbar at the top of the page */
    width: 380px;

    @include breakpoint(smWidth) {
        width: 420px;

    }

    @include breakpoint(med) {
        width: 480px;

    }



    /* Full width */
    .upperSection {
        height: 50%;
        position: relative;
    }

    .lowerSection {
        flex-direction: row;
        display: flex;
        height: 100%;
        width: 100%;

        // @include breakpoint(med) {
        //     width: 100%;
        // }
        .rinPerBtn {

            @include font-inter;
            flex: 1;
            width: 50%;
            justify-content: center;
            align-items: center;
            background-color: #D9D9D9;
            text-align: center;
            padding: 10px;
            border: none;
        }

        .rinPerBtn:hover {
            transition: 0.7s;
        }

        .rinPerBtn:focus {
            outline-color: transparent;
            outline-style: solid;
            box-shadow: 0 0 0 .5px orchid;
            transform: 0.7s;
        }

        .rinPerBtn.active {
            background-color: $primary;
            color: #FFF;
        }

        .designBtn {
            @include font-inter;
            flex: 1;
            width: 50%;
            justify-content: center;
            align-items: center;
            background-color: #D9D9D9;
            text-align: center;
            padding: 10px;
            border: none;
        }

        .designBtn:hover {
            transition: 0.7s;
        }

        .designBtn:focus {
            outline-color: transparent;
            outline-style: solid;
            box-shadow: 0 0 0 .5px orchid;
            transform: 0.7s;
        }

        .designBtn.active {
            background-color: $primary;
            color: #FFF;
        }
    }
}