@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-borel{
  font-family: 'Borel', cursive;
}

@mixin font-inter {
  font-family: 'Inter', sans-serif;
}

@mixin font-quicksand {
  font-family: 'Quicksand';
}

@mixin font-quicksand-bold {
  font-family: 'Quicksand-Bold';
}

@mixin breakpoint($point) {
  @if $point == md {

 
      //760px
      @media (min-width: 48em){
          @content;
      }
  
  }
  @if $point == med {

 
    //760px
    @media (min-width: 590px){
        @content;
    }

}

  @if $point == sm {
    @media (min-height: 600px) {
      @content;
    }
  }
}