@use './variables.scss' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-borel {
  font-family: 'Borel', cursive;
}

@mixin font-inter {
  font-family: 'Inter';
}

@mixin font-quicksand {
  font-family: 'Quicksand';
}

@mixin font-quicksand-bold {
  font-family: 'Quicksand-Bold';
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-col-just-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-row-just-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin input-template {
  @include font-inter;
  display: block;
  width: 300px;
  height: 48px;
  padding: 12px;
  margin-top: 20px;
  border: solid 1px;
  border-color: #C4C4C4;
  border-radius: 5px;
  font-size: clamp($font-size-14, 1.5vw, $font-size-18);
  align-self: center;
}

@mixin btn {
  width: 300px;
  height: 48px;
  align-self: center;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px;
  @include font-inter;
  font-size: $font-size-16;
  font-weight: 400;
}

@mixin btn-primary {
  @include btn;
  background-color: $primary;
  color: $light;
 
}

@mixin btn-secondary {
  @include btn;
  background-color: $light;
  color: #474747;
 
}

@mixin btn-save-draft {
  @include btn;
  background-color: #C4C4C4;
  color: #474747;
}

@mixin breakpoint($point) {
  @if $point ==md {


    //760px
    @media (min-width: 48em) {
      @content;
    }

  }

  @if $point ==med {


    //760px
    @media (min-width: 590px) {
      @content;
    }

  }

  @if $point ==sm {
    @media (min-height: 600px) {
      @content;
    }
  }
}