//font
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-28: 1.75rem;
$font-size-32: 2rem;
$font-size-36: 2.25rem;
$font-size-42: 2.625rem;
$font-size-48: 3rem;
$font-size-54: 3.375rem;
$font-size-60: 3.75rem;
$font-size-68: 4.25rem;
$font-size-76: 4.75rem;
$font-size-84: 5.25rem;
$font-size-92: 5.75rem;

//colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: #FF5858;
$bg: rgb(244, 244, 255);

//spacing
$spacing-md: 16px;
$spacing-lg: 32px;

//border radius
$borderRadius: 12px;


//header height
$headerHeight: 100px;