@use 'base';
@use 'mixins';
@use 'pages';
@use 'components';
@use 'fonts';

html, body {
  height: 100%;
  width: 100%;
}

main {
  max-width: 480px;
  width: 100%;
  position: relative;
  height: 100%;
}
