//Quicksand
@font-face {
  font-family: 'Quicksand';
  src: url("../../assets/fonts/Quicksand/Quicksand-Regular.ttf");
}
@font-face {
  font-family: 'Quicksand-SemiBold';
  src: url("../../assets/fonts/Quicksand/Quicksand-SemiBold.ttf");
}
@font-face {
  font-family: 'Quicksand-Bold';
  src: url("../../assets/fonts/Quicksand/Quicksand-Bold.ttf");
}

//Inter
@font-face {
  font-family: 'Inter';
  src: url("../../assets/fonts/Inter/Inter-Regular.ttf");
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url("../../assets/fonts/Inter/Inter-SemiBold.ttf");
}
@font-face {
  font-family: 'Inter-Bold';
  src: url("../../assets/fonts/Inter/Inter-Bold.ttf");
}

//Borel
@font-face {
  font-family: 'Borel';
  src: url("../../assets/fonts/Borel/Borel-Regular.ttf");
}